.env
.env.local
CopyCat/.env.development
.env.*
gumusbulut.md
CMD Backend job run command.txt
CopyCat/dist
CopyCat/node_modules
Backend/client_secret_320897509859-vc44f3iga59n5khu64rkfpeeofoh2jf2.apps.googleusercontent.com.json
Backend/token.json
.qoder

